<!DOCTYPE html>
<html>
  <head>
    <% include ../include/head %>
  </head>
  <body>
    <header>
      <% include ../include/header %>
    </header>
    <div class="posts">
    <% include include/top %>
<!-- main start-->

<!-- views/posts/index.ejs -->
<div class="new">
  <h3>새 게임 등록</h3>
  <form class="posts_form" action="/games" method="post">
    <label>Game Title</label>
    <input type="text" name="post[title]" value="">
    <label>Game 출시일</label>
    <input type="date" name="post[Releasedate]" value="">
    <label>Game 제작사</label>
    <input type="text" name="post[production]" value="">
    <label>Game 개발자</label>
    <input type="text" name="post[developer]" value="">
    <label>Game 설명</label>
    <textarea name="post[body]"></textarea>
    <button type="submit" class="btn1">Submit</button>
  </form>
  <a href="javascript:history.back()"><button class="btn1">Back</button>
</div>
<!-- main end -->
    </div><!--posts end -->
    <footer>
      <% include ../include/footer %>
    </footer>
  </body>
</html>
